.wrap {
  display: grid;
  grid-template-areas: "block1" "block2" "block3";
}
@media screen and (min-width: 576px) {
  .wrap {
    grid-template-areas: "block1 block2" "block3 block3";
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .wrap {
    grid-template-areas: "block1 block2 block3";
    gap: 30px;
  }
}
.wrap__block1, .wrap__block2, .wrap__block3 {
  display: flex;
  flex-direction: column;
  grid-area: block1;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
  background-color: white;
}
.wrap__block1-img, .wrap__block2-img, .wrap__block3-img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap__block1-hr, .wrap__block2-hr, .wrap__block3-hr {
  height: 4px;
  background: var(--grey-separator, #E6E6F0);
}
.wrap__block1-txt, .wrap__block2-txt, .wrap__block3-txt {
  margin: 30px;
  height: auto;
}
.wrap__block1 h4, .wrap__block2 h4, .wrap__block3 h4 {
  color: var(--active-regular, #24A3FF);
  font-size: 16px;
  font-weight: 700;
}
.wrap__block1 h5, .wrap__block2 h5, .wrap__block3 h5 {
  color: var(--grey-text, #B3B3BA);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrap__block1 p, .wrap__block2 p, .wrap__block3 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.wrap__block2 {
  grid-area: block2;
}
.wrap__block3 {
  grid-area: block3;
}

.section-footer {
  background: var(--grey-bg, #F5F5FA);
}
.section-footer a {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-footer h3 {
  font-size: 38px;
  font-weight: 700;
}

.align-center {
  align-items: center;
}

.footer {
  display: grid;
  grid-template-areas: "block11" "block13" "block12";
  text-align: center;
}
.footer .d-flex {
  display: inline;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-areas: "block11 block12" "block13 block12";
  }
}
.footer_block11 {
  grid-area: block11;
}
.footer_block12 {
  grid-area: block12;
  text-align: end;
}
.footer_block13 {
  grid-area: block13;
}

.footer {
  display: grid;
  gap: 10px;
}
.footer__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__img {
    display: inline;
  }
  .footer__autor {
    display: flex;
    justify-content: end;
  }
}